<div class="container increased-font mt-3 centered-button">
  <h3>Storico Allenamenti per {{atleta.nome}} {{atleta.cognome}}</h3>
  <button class="btn btn-secondary mt-2" routerLink="/gestione-atleti-coach">Indietro</button>
  <div class="filter-container increased-font text-center mt-4">
    <label for="dayFilter">Filtra per giorno:</label>
    <input type="number" id="dayFilter" [(ngModel)]="dayFilter" placeholder="Giorno" min="1" max="31" inputmode="numeric" [disabled]="!yearFilter || !monthFilter" (input)="filterNumericInput($event)">
    <label for="monthFilter">Filtra per mese:</label>
    <input type="number" id="monthFilter" [(ngModel)]="monthFilter" placeholder="Mese" min="1" max="12" inputmode="numeric" [disabled]="!yearFilter" (input)="filterNumericInput($event)">
    <label for="yearFilter">Filtra per anno:</label>
    <input type="number" id="yearFilter" [(ngModel)]="yearFilter" placeholder="Anno" min="2000" max="2100" inputmode="numeric" (input)="filterNumericInput($event); resetFilters()">
    <button class="btn btn-primary mx-4" (click)="applyFilter()">Applica</button>
  </div>
  <div class="table-container mt-4">
    <table class="table">
      <tr>
        <th>Durata in minuti</th>
        <th>Numero circuiti</th>
        <th>Durata circuiti</th>
        <th>Data assegnazione</th>
      </tr>
      <tr *ngFor="let assegnazione of filteredAssegnazioni">
        <td>{{ assegnazione.durataInMinuti }}</td>
        <td>{{ assegnazione.numeroCircuiti}}</td>
        <td>{{ assegnazione.durataCircuiti }}</td>
        <td>{{ assegnazione.dataAssegnazione | date }}</td>
        <td>
          <button class="btn btn-primary" (click)="openModal(assegnazione)">Dettagli</button>
        </td>
      </tr>
    </table>
  </div>
  <div id="modalAllenamentoAtleta" class="modal">
    <div class="modal-dialog d-flex">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dettagli allenamento {{assegnazione.dataAssegnazione | date}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Allenamento:</strong> {{ allenamento.nome }}</p>
          <p *ngIf="allenamento.tipologia != ''"><strong>Tipologia:</strong> {{ allenamento.tipologia }}</p>
          <p *ngIf="allenamento.tipologia == ''"><strong>Tipologia:</strong> Generale</p>
          <p><strong>Intensità:</strong> {{allenamento.intensita}}</p>
          <p *ngIf="assegnazione.numeroCircuiti != 0"><strong>Numero Circuiti:</strong> {{ assegnazione.numeroCircuiti }} min</p>
          <p *ngIf="assegnazione.numeroCircuiti != 0"><strong>Durata Circuiti:</strong> {{ assegnazione.durataCircuiti }} min</p>
          <p *ngIf="assegnazione.numeroCircuiti != 0"><strong>Durata Totale:</strong> {{ assegnazione.durataInMinuti }} min</p>
          <p *ngIf="assegnazione.numeroCircuiti == 0"><strong>Durata:</strong> {{ assegnazione.durataInMinuti }} min</p>
          <button class="btn btn-primary mt-3" (click)="closeModal()">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
</div>
