<div class="chart-container">
  <div class="centered-button mt-3">
    <div class="btn btn-secondary" routerLink="/gestione-allenamenti">Indietro</div>
    <label for="usernameFilter" class="mx-4">Seleziona un atleta specifico: </label>
    <select id="usernameFilter" [(ngModel)]="selectedAtleta" (ngModelChange)="updateChart()">
      <option value="">Tutti</option>
      <option *ngFor="let username of usernameAtleti" [value]="username">{{ username }}</option>
    </select>
    <button class="btn btn-primary mx-3" (click)="downladHRVCSVClick()">Scarica file .csv</button>
    <button class="btn btn-primary mx-3" (click)="downloadPDF()">Scarica PDF grafico</button>
  </div>
  <canvas #chartCanvas  id="MyChart" class="mt-3" >{{ chart }}</canvas>

</div>
