.navbar-logout-1 {
  margin-left: 149%;
}

.navbar-logout-2 {
  margin-left: 180%;
}

.navbar-logout-3 {
  margin-left: 275%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


