html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  margin-bottom: 60px; /* Altezza del footer + margine */
}

.custom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%; /* Imposta l'altezza desiderata */
}


:host {
  display: block;
  min-height: 100vh;
}

.main-content {
  margin-bottom: 50px; /* Altezza del footer */
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px; /* Altezza del footer */
}










