.navbar-logout-1 {
  margin-left: 149%;
}

.navbar-logout-2 {
  margin-left: 180%;
}

.navbar-logout-3 {
  margin-left: 275%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.custom-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343a40;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  margin-bottom: 60px; /* Altezza del footer + margine */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}








