<div class="container">
  <h2 class="mt-3">Guida per l'Atleta</h2>
  <ul class="mt-4">
    <li class="mt-3"><strong>Home:</strong> Qui puoi vedere subito le informazioni relative all'allenamento assegnato nella data corrente, se è presente.</li>
    <li class="mt-3"><strong>Allenamenti:</strong> Qui puoi visualizzare lo storico degli allenamenti assegnati dal coach, con la possibilità di visualizzarli nel dettaglio.
      <p>Da qui puoi accedere alla schermata di visualizzazione dello storico dei risultati dei tuoi allenamenti, con la possibilità di vederli su grafico.</p>
    </li>
    <li class="mt-3"><strong>Gestione Profilo:</strong> Qui puoi visualizzare le informazioni relative al tuo profilo, con la possibilità di modificare email e password.
    </li>
  </ul>
  <div class="centered-button">
    <button class="btn btn-secondary mt-4" (click)="goBack()">Indietro</button>
  </div>
</div>
