<div class="container">
  <h2 class="mt-3">Benvenuto nel servizio IoTDigitalTwin!</h2>
  <p class="mt-4">IoTDigitalTwin è un servizio digital twin concepito per supportare atleti ed allenatori ad organizzare le loro sessioni quotidiane di allenamento, relativamente allo sport del calcio.</p>
  <p>Per ogni coach (allenatore) di ogni squadra è definito il ruolo dei giocatori che può seguire (attaccante, difensore, centrocampista, portiere).
    Ogni allenatore può seguire uno o più giocatori dello stesso ruolo e squadra, ed ogni calciatore può essere seguito soltanto da un coach.
    Sulla base dei risultati precedenti, l'allenatore sceglie l'allenamento da assegnare all'atleta, supportato dal digital twin. Gli allenamenti possono essere specifici per il ruolo del giocatore oppure generici. In ogni caso ad ogni allenamento è associata la relativa intensità (Alta, Medio/Bassa).
    Nella fase di assegnamento, inoltre, può essere indicata la durata dell'allenamento, la presenza o meno di circuiti e la relativa durata.
  </p>
  <p>L'atleta può prendere visione dell'allenamento assegnato e svolgerlo. Inoltre, è possibile consultare lo storico degli allenamenti assegnati e dei risultati, anche su grafico, sia per l'atleta che per il coach.</p>
  <div class="centered-button">
    <button class="btn btn-secondary mt-5" (click)="goBack()">Indietro</button>
  </div>
</div>
