<div class="container">
  <h2 class="mt-3">Guida per il Coach</h2>
  <ul class="mt-4">
    <li class="mt-3"><strong>Home:</strong> Qui puoi vedere informazioni relative al numero di atleti da te seguiti e la tua squadra.
    Inoltre, se sono disponibili nuovi risultati relativi agli allenamenti degli atleti, viene visualizzato un avviso in merito, contenente l'elenco degli atleti con risultati nuovi da valutare.</li>
    <li class="mt-3"><strong>Gestione Atleti:</strong> Qui puoi visualizzare l'elenco degli atleti che segui, visualizzarne le informazioni nel dettaglio e modifcarne altezza e peso. Da qui, puoi accedere allo storico degli allenamenti da te assegnati per ogni atleta.</li>
    <li class="mt-3"><strong>Allenamenti:</strong> In questa sezione puoi visualizzare lo storico dei risultati degli allenamenti svolti dagli atleti che segui. Se tali risultati non sono già stati valutati per assegnare allenamenti, puoi assegnare all'atleta interessato un nuovo allenamento, basandoti sulle di essi.
      Nello specifico, il digital twin ti fornisce una lista di allenamenti disponibili per l'assegnamento, effettuando un filtro in base all'intensità, che puoi comunque ignorare semplicemente rimuovendolo.
      Ad esempio, se un tuo atleta ha svolto un allenamento molto intenso, in fase di assegnamento potrai scegliere tra una lista di allenamenti con intensità medio/bassa per il ruolo da te allenato.
      <p>
        Per ogni assegnazione dell'allenamento, puoi definirne la durata in minuti ed eventualmente il numero di circuiti e la loro durata.
      </p>
      <p>
        Puoi, inoltre, visualizzare graficamente i risultati degli allenamenti dei tuoi atleti.
      </p>
    </li>
    <li class="mt-3"><strong>Gestione Profilo:</strong> Qui puoi visualizzare le informazioni relative al tuo profilo, con la possibilità di modificare email e password.
    </li>
  </ul>
  <div class="centered-button">
    <button class="btn btn-secondary mt-4" (click)="goBack()">Indietro</button>
  </div>
</div>
